*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --DARK-BACKGROUND: #111827;
  --HIGHLIGHT-TEXT: rgb(197, 197, 89);
  --HOVER-LINK-BACKGROUND: rgb(100, 100, 224);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: var(--DARK-BACKGROUND);
  color: #fff;
  max-width: 130rem;
}

/* || General Styles */
li {
  list-style: none;
}

a:any-link {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.heading-primary,
.heading-secondary {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

/* || Nav Bar */
.nav-list {
  padding: 1.6rem 0;
  display: none;
}

.nav-list-items a:link,
.nav-list-items a:visited {
  padding: 0.2em 0.6em;
  border-radius: 2rem;
  transition: background-color 0.3s;
}

.nav-list-items a:hover,
.nav-list-items a:active {
  background-color: var(--HOVER-LINK-BACKGROUND);
}

.mobile-nav {
  padding: 2rem;
}

/* || Hero Section */
.hero-section {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 3.2rem;
  margin-bottom: 4.8rem;
}

.hero-section-img {
  width: 30vw;
  height: auto;
}

.hero-section p {
  text-align: center;
  font-size: 2rem;
}

.section-left img {
  width: 2.4rem;
  height: auto;
}

.job-title {
  color: var(--HIGHLIGHT-TEXT);
}

/* || Project Section */

.project-section,
footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 6.4rem;
}

.projects-img {
  /* width: 50%; */
  height: auto;
  cursor: pointer;
}

/* || Footer Section */
footer {
  text-align: center;
  margin-bottom: 0;
  gap: 0;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  padding: 2.4rem;
}

.social-links img {
  width: 3rem;
}
/* || Utility */
.divider {
  /* width: 12rem; */
  width: 100%;
  height: 1rem;
  border: none;
  border-radius: 15px;
  background-color: blue;
}

/* || Responsive Design */
@media screen and (min-width: 576px) {
  .nav-list {
    display: flex;
    font-size: 2rem;
    justify-content: flex-end;
    /* gap: 2.8rem; */
  }

  .mobile-nav {
    display: none;
  }

  .hero-section {
    flex-direction: row;
  }

  .nowrap {
    font-size: 6rem;
  }

  .hero-section p {
    font-size: 3.6rem;
    text-align: left;
    font-weight: bold;
  }

  .section-left {
    font-size: 3rem;
    flex-basis: 30%;
  }

  .section-left img {
    width: 4.4rem;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 40%));
    place-content: center;
    gap: 1.6rem;
  }

  .heading-primary,
  .heading-secondary {
    font-size: 3.6rem;
  }
}
